@{
  Layout = "_Layout";
}

<div class="denied mt-5" style="text-align: center; color: red;">
  <h3 id="denied"><strong>ACCESS DENIED: You must be an Administrator to access this content!</strong></h3>
  <p>@Html.ActionLink("Back Home", "Index", "Home")</p>
</div>