@{
  Layout = "_Layout";
}

<div class="denied mt-5" style="text-align: center; color: red;">
  <h3 id="denied"><strong>ACCESS DENIED: <br>You must be Logged in as an Administrator to access this content!</strong></h3>
<a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Index">Sign up</a>
</p>
</div>