@using SalesShack.ViewModels;

@model LoginViewModel;



<div id="login-form">
  <div id = "login-box">
  <img class="login-logo" src="../img/logo-color.png">
  @if (!ViewData.ModelState.IsValid)
  {
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
  }

  @using (Html.BeginForm())
  {
   <br><em> @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Addresss", style="margin-left: 50px; text-align: center;"})<br><br></em>
   <input type="password" style="margin-left: 50px; text-align: center;" placeholder="Password" @Html.EditorFor(m => m.Password)><br><br>
   <input type="submit" style="margin-left: 105px;" value="Log in" id="button"/><br>
  }
  <br><p style="margin-left: 25px;">Dont have an account yet? @Html.ActionLink("Sign up!", "Register")</p>
  </div>
</div>
