@{
  Layout = "_Layout";
}

@using SalesShack.ViewModels;

@model RegisterViewModel;

<div id="form">
<div id = "login-box">
<img class="login-logo" src="../img/logo-color.png">
  @if (!ViewData.ModelState.IsValid)
  {
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
  }

  @using (Html.BeginForm("Register", "Account", FormMethod.Post))
  {

    <h5><strong>Sign Up</strong></h5>

    <br><em>@Html.TextBoxFor(user=> user.Email, new { placeholder = "Email Addresss", style="text-align: center;"})<br><br></em>

    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { placeholder = "Password", style= "text-align: center;" } })<br><br>

    @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm Password", style= "text-align: center;" } })<br><br>

    <input type="submit" value="Register" id="button"/>
  }
</div>
</div>