@{
  ViewData["Title"] = "Edit Client";
}

@model SalesShack.Models.Client;

<div class="container" style="text-align: center;">
  <div class="content-wrapper">
  <div id="list">
<h5><strong>Edit this Client!</strong></h5><br>
<div id="form">
	@using (Html.BeginForm())
	{
		@Html.HiddenFor(model => model.ClientId)

		@Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Name", style= "text-align: center;" } })<br><br>
		@Html.EditorFor(m => m.Company, new { htmlAttributes = new { placeholder = "Company", style= "text-align: center;" } })<br><br>
		@Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { placeholder = "PhoneNumber", style= "text-align: center;" } })<br><br>
		<input type="submit" value="Save" id="button"/>
	}
</div>
	</div>
	</div>
</div>
