@{
  ViewData["Title"] = "All Clients";
}

@using SalesShack.Models;

<div class="container" style="text-align: center;">
  <div class="content-wrapper">
  <div id="list">
  <h4><strong>Clients!</strong></h4><br>
      @if (Model.Count == 0)
      {
        <p>No clients have been added yet</p>
      }
      else
      {
        <ul>
          @foreach (Client client in Model)
          {
            <li style="list-style-position: inside; padding-right: 40px;"><strong>@Html.ActionLink(@client.Name, "Details", "Clients", new { id = @client.ClientId})</strong></li>
          }

        </ul>
      }
    </div>
       <p>@Html.ActionLink("Add a new client", "Create")</p>
  </div>
  
</div>

 

  </div>
</div>