html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: whitesmoke
}

.container-fluid {
  background-color: #07692e;
}

#home-list {
  text-align: center;
}

#list {
text-align: center;
}

#logo {
  width: 160px;
  height: 160px;
}

li.nav-item {
  font-size: 15.4px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}