html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: whitesmoke
}

#home-list {
  text-align: center;
}

#list {
text-align: center;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}