@{
  ViewData["Title"] = "Add a Product";
}

@model SalesShack.Models.Product;

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>


<div id="create-box">
	@using (Html.BeginForm())
	{
		<h4 style="text-align: center;">Add a product!</h4><br>
		@Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Name", style= "text-align: center;" } })<br><br>
		@Html.EditorFor(m => m.Description, new { htmlAttributes = new { placeholder = "Description", style= "text-align: center;" } })<br><br>
		<input type="submit" id="button" value="Add" />
	}
</div>
